/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&display=swap');


/* colors */
:root{
    --main-color:rgb(32, 30, 67);
    --main-color-2:rgb(19, 75, 112);
    --secondary-color:rgb(80, 140, 155);
    --secondary-color-2:rgb(256, 256, 256);
}

/* All SVG Sizes */
img[src$=".svg"]{
    height: 25px;
    width: 25px;
    filter: invert(1);
}

img[src$=".jpeg"]{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid white;
}

body{
    background-color: #EEEEEE;
}

/* -----basic layout----- */
.dashboard{
    display: grid;
    grid-template: 9rem 3fr/ 0.7fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
    font-family: "Montserrat", monospace;
    font-weight: normal;
    font-size: normal;
}

.sidebar{
    grid-area: sidebar;
}

.header{
    grid-area: header;
}

.content{
    grid-area: content;
}

/* -----sidebar----- */
.sidebar{
    background-color:var(--main-color);
    color:var(--secondary-color-2);
    display: grid;
    grid-template: 5rem calc(6*2.5rem) calc(3*2.5rem) / 1fr ;
    gap:2rem;
    justify-content: center;
    align-items: center;
}

/* 3 sidebar sections */
.dashboard-logo,
.user-pages,
.user-settings{
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem 2rem;
    justify-content: space-around;
    gap: 8px;
}

.dashboard-logo{
    margin-top: 3rem;
}

/* individual sidebar elements */
.sidebar .navigation{
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.navigation .logo img{
    height:2rem ;
    width:2rem ;
}

.navigation .nav-location{
    font-weight: 600;
    font-size: 1.2rem;
}

.dashboard-logo .navigation img{
    height: 2.5rem;
    width: 2.5rem;
}

.dashboard-logo .navigation .nav-location {
    font-weight: bold;
    font-size: 2rem;
}

/* -----header----- */
.header{
    display: grid;
    grid-template: 2.8rem 4.8rem/ repeat(2, 1fr);
    padding: 1rem;
    background-color: var(--main-color-2);
    box-shadow: 0px 9px 8px 0px rgb(0, 0, 0, 0.60);
    align-items: center;
}

/* header sections */
.header .searchbar,
.header .user-details,
.header .user-welcome-board,
.header .buttons{
    padding: 8px;
}

/* searchbar section */
.searchbar label{
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 8px;
}

.searchbar label img{
    height: 2rem;
    width: 2rem;
}

.searchbar label input{
    background-color: var(--secondary-color);
    outline: 1px solid black;
    border-radius: 8px;
}

.searchbar label input:focus{
    background-color: var(--secondary-color-2);
}

/* username and notifications */
.user-details{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: max(2px, 2rem);
    
}

.user-details .notification img{
    height: 1.5rem;
    width: 1.5rem;
}

.user-details .logo img{
    height: 2rem;
    width: 2rem;
}

.user-details .user-name{
    font-weight: bold;
    color: var(--secondary-color-2);
}

/* user welcome */
.user-welcome-board {
    display: flex;
    padding: 8px;
    justify-content: flex-start;
    gap: 2rem;
}

.user-welcome-board .logo img{
    height: 3rem;
    width: 3rem;
}

.user-welcome-board .username{
    color: var(--secondary-color-2);
}

.user-welcome-board .username p{
    font-weight: 400;
    font-size: medium;
}

.user-welcome-board .username h1{
    font-weight: 600;
    font-size: large;
}

/* button section */
.header .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    
}

.header .buttons button{
    height: 3.1rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: var(--secondary-color-2);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px;
}

.header .buttons button:hover{
    background-color: var(--secondary-color-2);
    color: black;
}

/* -----content----- */
.content{
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr ;
    grid-template-areas: 
        "projects announcement"
        "projects trending";
    gap: 2rem;
}

.content .projects{
    grid-area: projects;
    margin-top: 1rem;
    margin-left: 2rem;
}

.content .announcements{
    grid-area: announcement;
    margin-top: 1rem;
}

.content .trending{
    grid-area: trending;
}

/* projects */
.projects{
    display: grid;
    grid-template: 3rem repeat(3, 15rem)/ repeat(auto-fit, minmax(25rem, 1fr));
    gap: 20px;
}

.projects h1{
    grid-column: 1/-1;
    font-size: 2rem;
    font-weight: 700;
}

.projects .cards{
    display: grid;
    grid-template: 1fr 2fr 1fr/ 1fr;
    padding: 1rem;
    border-radius: 1rem;
    background-color:var(--secondary-color-2);
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.60);
    border-left: 1rem solid var(--main-color-2);
    align-content: center;
    align-items: center;
}

.projects .cards h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color);
}

.projects .cards p{
    font-size: 1rem;
    line-height: 1.2;
    width: max(25ch, 40ch);
}

.projects .cards .icons{
    filter: invert(1);
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* announcements */
.announcements{
    display: grid;
    grid-template-rows: 3rem min(30rem,25rem);
    gap: 1rem;
}

.announcements .cards{
    background-color: var(--secondary-color-2);
    border-radius: 1rem;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.60);
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 30ch;
}

.cards .announcement-card h1{
    font-size: medium;
    color: var(--secondary-color);
} 

.cards .announcement-card p{
    font-size: smaller;
}

/* trending */
.trending{
    display: grid;
    grid-template-rows: 3rem 17rem;
}

.trending .cards{
    display: grid;
    gap: 4px;
    padding: 8px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.60);
    width: 30ch;
}

.cards .trend-accounts-card{
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 1rem;
}

.cards .trend-accounts-card h2{
    font-size: 1rem;
}

.cards .trend-accounts-card h1{
    font-size: large;
    color: var(--main-color);
}